.admission {
  margin: 80px 10px;
  width: calc(100% - 40px);

  .admission-container {
    background-color: hsl(0, 0%, 100%);
    max-width: 1320px;
    padding: 80px 60px;
    border-radius: 42px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 1320px;
    max-width: 100%;
    gap: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 42px;
    overflow: hidden;
    border: 1px solid hsl(214.3, 31.8%, 91.4%);
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 0;
  }

  .content-wrapper {
    display: flex;
    gap: 24px;
    width: 100%;
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .font-h1 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: -0.96px;
    line-height: 120%;
    color: #191919;
    margin: 0;
  }

  .description {
    font-size: 28px;
    font-weight: 300;
    line-height: 39.2px;
    color: #191919;

    .link-text {
      color: #191919;
      text-decoration: underline;
      font-weight: 300;
      letter-spacing: -0.08px;
    }
  }

  .sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .step-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .step-text {
    font-size: 32px;
    font-weight: 500;
    line-height: 44.8px;
    letter-spacing: -0.32px;

    .step-label {
      color: #19191999;
    }

    .step-date {
      color: #191919;
    }
  }

  .separator {
    width: 100%;
    height: 2px;
    background-color: hsl(214.3, 31.8%, 91.4%);
  }

  .font-l {
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: 0;
    color: #19191999;
  }

  @media (max-width: 767px) {
    padding: 40px 20px;

    .admission-container {
      width: 100%;
    }

    .card {
      width: 100%;
      padding: 20px;
    }

    .content-wrapper {
      flex-direction: column;
      gap: 16px;
    }

    .font-h1 {
      font-size: 36px;
      letter-spacing: -0.72px;
    }

    .description {
      font-size: 20px;
      line-height: 28px;
    }

    .step-text {
      font-size: 24px;
      line-height: 33.6px;
      letter-spacing: -0.24px;
    }

    .font-l {
      font-size: 16px;
      line-height: 22.4px;
    }
  }
}
