.card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center center / contain url("/icons/card-overlay.svg") no-repeat;
  z-index: 0;
}

.card-item {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 318px;
  width: 100%;
  aspect-ratio: 318 / 240;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.card-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 54px;
  z-index: 2;
  transition: color 0.5s ease;
}

.card-item:hover .card-icon {
  color: #0b4a4c;
}