.link-button {
  padding: 0 4px 0 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  border-radius: 30px;
  font-family: "Geologica", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.16px;
  transition: all 0.5s ease;
  text-decoration: none;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 1px hsl(215, 20.2%, 65.1%);
  }

  &[aria-disabled="true"] {
    pointer-events: none;
    opacity: 0.5;
  }
  &:hover {
    filter: invert(100%);
  }

  .button-text {
    flex-grow: 1;
    text-align: center;
  }

  &.default {
    background-color: #191919;
    color: hsl(210, 40%, 98%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 32px;

    .icon {
      background-color: hsl(0, 0%, 100%);
      color: hsl(222.2, 47.4%, 11.2%);
    }
  }

  &.outline {
    background-color: hsl(0, 0%, 100%);
    color: hsl(222.2, 47.4%, 11.2%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &.ghost {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 207px;
    height: 38px;
    padding: 3px 20px;
    background-color: #efeeea;
    border: 1px solid #19191926;
    border-radius: 23.75px;
    font-size: 14px;
    font-weight: 400;
    color: #191919;
    text-align: center;
    letter-spacing: -0.14px;
    line-height: 28px;
    cursor: pointer;
  }
  &.default {
    height: 48px;
    svg {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }

  &.sm {
    padding: 0 20px;
    height: 38px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -1%;
  }

  &.lg {
    height: 64px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
    svg {
      width: 52px;
      height: 52px;
    }
  }

  &.icon {
    height: 40px;
    width: 40px;
    padding: 0;

    .icon {
      width: 20px;
      height: 20px;
      padding: 10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 767px) {
  .link-button {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.14px;
  }

  .default {
    height: 40px;
    padding: 4px 16px;
  }

  .sm {
    height: 28px;
    padding: 4px 10px;
    font-size: 10px;
    line-height: 20px;
  }

  .lg {
    height: 48px;
    padding: 4px 24px 4px 16px;
    font-size: 16px;
    line-height: 32px;
  }

  .icon {
    height: 32px;
    width: 32px;

    .icon {
      width: 16px;
      height: 16px;
      padding: 8px;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
