.workshops {
  max-width: 1400px;
  margin: 80px auto;
  padding: 0 20px;
  display: flex;
  gap: 30px;
  justify-content: space-between;

  .workshop-grid {
    margin: 0 auto;
    flex: 1;
    display: grid;
    max-width: 986px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 16px;
  }

  .card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center center / contain url("/icons/card-overlay.svg") no-repeat;
    z-index: 0;
  }

  .workshop-item {
    position: relative;
    max-width: 318px;
    width: 100%;
    aspect-ratio: 318 / 240;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
  }

  .workshop-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
    height: 54px;
    z-index: 2;
    transition: content 0.5s ease;
  }



  .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
    -webkit-mask-image: url("/icons/card-overlay.svg");
    mask-image: url("/icons/card-overlay.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  .workshop-item:hover .hover-image {
    opacity: 1;
  }
  .workshop-item:hover .workshop-icon {
    color: #0b4a4c;
  }
  .workshop-item:hover .title {
    color: #efeeea;
  }

  .title {
    max-width: 238px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -1%;
    vertical-align: bottom;
    z-index: 3;
    color: #191919;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .popup-content {
    position: relative;
    background: #fff;
    border: 1px solid var(--stroke-15, #19191926);
    border-radius: 32px;
    padding: 24px;
    max-width: 448px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .popup-title {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    color: #191919;
    margin: 0;
  }

  .popup-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    color: #19191999;
  }

  .popup-close {
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: #191919;
  }
}
